* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
body {
  font-family: Microsoft YaHei;
  font-size: 14px;
  font-weight: 300;
  background: #fafafa;
  color: #181818; }

a {
  text-decoration: none; }

li {
  list-style-type: none; }

.ovh {
  overflow: hidden; }

.fr {
  float: right; }

.fl {
  float: left; }

input, textarea {
  border: none;
  outline: none;
  resize: none; }

a {
  cursor: pointer; }
.clear-fix:before, .clear-fix:after {
  content: "";
  display: table; }