.red_btn {
  width: 162px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 8px;
  background-color: #ff4063;
  color: #fff; }

.fgrey {
  color: #6c6c6c; }

.hidden {
  display: none; }

.mb0 {
  margin-bottom: 0 !important; }

.fb24 {
  font-size: 24px;
  font-weight: 400;
  color: #181818; }

.f24 {
  font-size: 24px;
  font-weight: 400;
  color: #181818; }

.f18 {
  font-size: 18px;
  font-weight: 300;
  color: #181818; }

.f20 {
  font-size: 20px;
  font-weight: 300;
  color: #181818; }

.f22 {
  font-size: 20px;
  font-weight: 300;
  color: #181818; }

.fb14 {
  font-size: 14px;
  font-weight: 400;
  color: #181818; }

.f16 {
  font-size: 16px;
  font-weight: 300;
  color: #181818; }

.f14 {
  font-size: 14px;
  font-weight: 300;
  color: #181818; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.w1200 {
  width: 1200px;
  margin: 0 auto;
  overflow: hidden; }

.ic_agree, .ic_disagree {
  margin-right: 6px;
  position: relative;
  top: 2px; }

body {
  font-family: Microsoft YaHei;
  font-size: 14px;
  font-weight: 300;
  background: #fafafa;
  color: #181818; }

[v-cloak] {
  display: none; }

a {
  text-decoration: none; }

li {
  list-style-type: none; }

.ovh {
  overflow: hidden; }

.fr {
  float: right; }

.fl {
  float: left; }

input, textarea {
  border: none;
  outline: none;
  resize: none; }

.re {
  position: relative; }

a {
  cursor: pointer; }

.clear-fix:before, .clear-fix:after {
  content: "";
  display: table; }

.star-list {
  display: inline-block; }

.ic_star {
  margin-right: 3px; }

.star-must:before {
  content: "*";
  color: #ffa340;
  display: inline-block;
  font-size: 18px;
  position: relative;
  top: 4px; }

.process-stit {
  font-size: 16px; }
