@charset "UTF-8";

/*
  作用:  使footer固定在页面底部
  $root-selector   撑开整个页面的容器id, 默认为root
//html
<body>
  <div id="root">
  </div>
  <div id="footer">
    Footer content goes here.
  </div>
</body>
*/

@mixin sticky-footer($footer-height, $root-selector: unquote("#root"), $footer-selector: unquote("#footer")) {
    html,
    body {
        height: 100%;
    }
    #{$root-selector} {
        clear: both;
        min-height: 100%;
        height: auto !important;
        height: 100%;
        margin-bottom: -$footer-height;
        :after {
            content: '';
            display: block;
            height: $footer-height;
        }
    }
    #{$footer-selector} {
        clear: both;
        position: relative;
        height: $footer-height;
    }
}


/*
   单行溢出添加省略号
*/

@mixin text-overflow($max-width:auto) {
    max-width: $max-width;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


/*
   单行居中
*/

@mixin hh($height, $textCenter:left) {
    //  @include hh(60px)  or hh(60px,center)
    text-align: $textCenter;
    height: $height;
    line-height: $height;
}


/*
  $parents         水平垂直居中的父级元素
  $child     要居中的元素
*/

@mixin middle-center($parents, $child) {
    //  @include re-c('.contain',img);
    #{$parents} {
        position: relative;
    }
    #{$child} {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
@mixin middle($parents, $child) {
    //  @include re-c('.contain',img);
    #{$parents} {
        position: relative;
    }
    #{$child} {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
}

@mixin ab-c($parents, $child) {
    //  @include ab-c('.contain',img);
    #{$parents} {
        position: relative;
    }
    #{$child} {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

// triangle    css小三角形
@mixin triangle($direction, $size, $borderColor) {
    //@include triangle(top,10px,red);
    content: "";
    height: 0;
    width: 0;
    @if $direction==top {
        border-bottom: $size solid $borderColor;
        border-left: $size dashed transparent;
        border-right: $size dashed transparent;
    }
    @else if $direction==right {
        border-left: $size solid $borderColor;
        border-top: $size dashed transparent;
        border-bottom: $size dashed transparent;
    }
    @else if $direction==bottom {
        border-top: $size solid $borderColor;
        border-left: $size dashed transparent;
        border-right: $size dashed transparent;
    }
    @else if $direction==left {
        border-right: $size solid $borderColor;
        border-top: $size dashed transparent;
        border-bottom: $size dashed transparent;
    }
}

/*
    html
    .a>.b>img

    @include t-c('.a','.b');  即可实现img的垂直居中
*/
@mixin table-middle($parents, $child) {
    #{$parents} {
        display: table;
    }
    #{$child} {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
    }
}


